html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'gotham_pro_regular', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    background: #FFFFFF;
    background-image: url(./wires3.png);
    background-position: top center;
    background-repeat: no-repeat;

}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.column {
    width: 50%;
}

.rightgroup {
    padding-left: 90px;
}

.title3 {
    font-family: 'neuemachina-regular';
    padding-top: 150px;
    padding-bottom: 88px;
    width: 100%;
    font-size: 84px;
    line-height: 84px;

}

.button {
    display: inline-block;
    border-style: hidden;
    line-height: 2em;
    border-radius: 30px;
    text-decoration: none;
    padding: 0 30px;
}

.button:hover {
    text-decoration: none
}

.button-blue {
    background-color: #5364ff;
    color: #FFFFFF;
}

.button-gray {
    background-color: #EBEEF2;
    color: #252525;
    background-image: url(./memoji.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-bottom: 80px;
}

.goal {
    display: block;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -2px;
    font-weight: 700;
    padding: 10px;

}

.care {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -1px;
    padding: 10px;
    margin-bottom: 50px;
}