.container__blog {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    margin-top: 4em;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;

}

.button__blog,
.button__view,
.title__text,
.button__card,
.readmore_style,
.bt {
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

.title__title,
.card__title {
    font-family: 'frauncesblack', Arial, Helvetica, sans-serif;
}

.button__blog,
.button__view,
.button__card {
    justify-content: center;
    align-content: center;
}

.button__blog,
.button__view {
    border-radius: 64px;
}

.button__blog,
.card__text,
.readmore_style {
    font-size: 16px;
}

.card__title,
.link__nounderline,
.bt,
.readmore_style {
    color: #162E3C;
}

.card__title,
.card__text {
    text-align: center;
}

.block__card,
.button__card {
    border: 1px solid #E5E7EB;
}

.title__text,
.card__text {
    color: #49616E;
}

.button__blog {
    display: grid;
    width: 59px;
    height: 32px;
    background-color: #DDF0A7;
    border: none;
}

.button__view {
    display: grid;
    width: 109px;
    height: 52px;
    font-size: 15px;
    border: 2px solid #162E3C;
}

.title__title {
    margin-top: 15px;
    margin-bottom: 24px;
    font-size: 48px;
}

.title__text {
    margin-bottom: 3.5em;
    font-size: 18px;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-left: 1.5em;
    margin-bottom: 4em;
}

.block__card {
    display: grid;
    height: 664px;
    justify-items: center;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-right: 1.5em;
}

.link__nounderline {
    text-decoration: none;
}

.button__card {
    display: grid;
    width: 94px;
    height: 39px;
    border-radius: 32px;
    font-size: 13px;
    margin-top: 10px;
    margin-right: 1.5em;
}

.card__title {
    padding: 0 31px 0 31px;
    font-size: 24px;
    line-height: 33px;
}

.card__text {
    padding: 5px 30px 25px 40px;
    font-family: 'Space Grotesk Regular', Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.bt {
    display: inline-flex;
    align-items: baseline;
    font-size: 14px;
}

.readmore_style {
    display: inline-flex;
    width: 8em;
    align-items: center;
    justify-content: space-around;
    margin: 1em;



}

@media screen and (max-width: 768px) {
    .container__blog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 100vh;
        justify-items: center;
        align-items: center;
        margin-top: 4em;
        font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;


    }

    .block__card__1 {

        grid-column: 1;
        grid-row: 2;


    }

    .block__card__2 {
        grid-column: 1;
        grid-row: 3;


    }

    .block__card__3 {
        grid-column: 1;
        grid-row: 4;

    }

}