@font-face {
    font-family: 'frauncesblack';
    src: url('../fonts/frauncessoftwonkopszwght-webfont.woff2') format('woff2'),
        url('../fonts/frauncessoftwonkopszwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}